@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-color: #3C2944;
  --hover-background: rgb(60, 41, 68,0.5);
  --text-color: #FFF7FF;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.group{
  transition: none;
}


.active .bar{
  width: 64px;
  background-color: var(--text-color);
}

.active .text{
  color: var(--text-color);
}
